@using StudioTemplate.ViewModels;
@model UpdateTeamVM
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <img src="~/assets/img/@Model.Image"/>
                    <label asp-for="Photo"></label>
                    <input asp-for="Photo" class="form-control" placeholder="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name" value="@Model.Name">
                    <span class="text-danger" asp-validation-for="Name"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Position">Position</label>
                    <input asp-for="Position" class="form-control" placeholder="Position" value="@Model.Position">
                    <span class="text-danger" asp-validation-for="Position"></span>

                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

